<h1>Add a new programmer</h1>
<a href="/programmers">Home</a>

<form method="post" action="/programmers">
  <div>
    <label name="name">Name:</label>
    <input type="text" name="name" placeholder="Name">
  </div>
  <div>
  <label name="twitter_img_url">Profile Picture URL:</label>
  <input type="text" name="twitter_img_url" placeholder="Profile Picture URL">
  <div>
  <div>
    <label name="twitter_username">Twitter Username:</label>
    <input type="text" name="twitter_username" placeholder="Twitter Username">
  <div>
  <div>
    <label name="github_username">Github Username:</label>
    <input type="text" name="github_username" placeholder="Github Username">
  <div>
  <input type="submit" value="Add Programmer">
</form>
