<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="css/style.css">
  <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
</head>
<html>
  <body>
    <header>
      <h1 class='headline'>The Money-Go-Round</h1>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <footer>
    </footer>
  </body>
</html>