<h1>Post Your Photo Here</h1>
<form method="post"action="/new">
  <br>
  <input type="text" name="author" placeholder="Username">
  <br>
  <br>
  <input type="text" name="photo_url" placeholder="Photo URL">
  <br>
  <br>
  <input type="text" name="date_taken" placeholder="Date">
  <br>
  <br>
</form>
