<h1 class='first-title'>Welcome to OMDB</h1>
<h2>What movie are you interested in getting down with?</h2>

<form action='/results' method='get'>
  <input type="text" name='movie_title' id="movie_input" required/>
  <input type="submit" value='SEARCH'/>
</form>
