<h1>index.erb works</h1>

<ul>
  <% @entries.each do |entry| %>
  <li><%=entry["author"]%><br/>
      <%=entry["photo_url"]%><br/>
      <%=entry["date_taken"]%>
  </li>
  <%end%>
</ul>


<a href="/new">Add a Photo</a>
<br/>
<a href="/show/:id">Find a Photo</a>
