<h1>new.erb works</h1>
<a href="/">Home</a>

<form method="post" action="/photos">
  <label>Author Name:</label>
    <input type="text" name="author"><br/>
  <label>Photo url:</label>
   <input type="text" name="photo_url"><br/>
  <label>Date Taken:</label>
    <input type="text" name="photo_date"><br/><br/>
  <input type="submit" value="Add Info">
</form>
