<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WDInstagram</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div id="content">
    <%= yield %>
    </div>
  </body>
</html>
