<div id="navbar" class="fixedattop">
  <a href="/">Home</a>
  <a href="/pics">All Pictures</a>
  <a href="/pics/upload">Upload</a>
</div>
<h1>Enter a New User</h1>
<form action="/users/new" method="post">
  <input type="text" name="name" placeholder="name">
  <input class="myButton" type="submit" value="Enter">
</form>

