   <div id="navbar" class="fixedattop">
      <a href="/">Home</a>
      <a href="/pics/upload">Upload</a>
      <a href="/users/new">Add User</a>
    </div>
<!--Main Wrapper-->
  <div id="Wrapper">
    <h1>Gallery</h1>
        <!--Image Gallery Begins-->
    <% @pics.each do |pics| %>
    <div id="Images">
          <ul>
                <li><a href="/pics/<%= pics['id'] %>"><img src= "<%= pics['img_url'] %>" /></a></li>
            </ul>
        <!--Image Gallery Ends-->
        </div>
    <% end %>
    </div>
