<h1>NEW KITTEN TIME!</h1>
<form action="/kittens" method="post">
  <label>Name</label>
  <input type="text" name="name" placeholder="jean-jacques" >
  <label>Age</label>
  <input type="text" name="age" placeholder="12" ><br>
  <label>Is it cute?</label>
  <input type="radio" name="" value="true">
  <label>Picture URL</label>
  <input type="text" name="image_url" placeholder="http://www.cats.com" ><br>
  <input type="submit" value="CREATE CAT">
</form>

<br><a href="/">Home</a>
