<h1>Hello and Welcome!</h1>

MTA = { :l_train => ['bedford', '1st ave'], :g_train => ['greenpoint', 'nassau'], :n_train => ['canal', '8th'], }
l_train = MTA[:l_train]

<p>These are the L-Train Stops</p>
<ul>
	<li>l_train[0]</li>
	<li></li>
</ul>