<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <title>OMDB SEARCH</title>
</head>
<body>
  <%= yield %>
</body>
</html>