<h1>Woof</h1>
<ul>
<% @puppies.each do |puppy| %>
  <li><%= puppy %></li>
<% end %>
</ul>

<form action="/puppies" method="post">
  <input type="text" name="puppy_name">
  <input type="submit" value="make">
</form>