<h1>Programmer</h1>
<div class="pics">
  <img src = '<%= "#{@pic}" %>' />
  <h2><%= "#{@name}" %></h2>
  <h3> Twitter: <a href = "http://twitter.com/<%= "#{@username}" %>" > @<%= "#{@username}" %> </a> </h3>
</div>
