<div>
  <img src = '<%= "#{@twitter_pic}" %>' />
  <h2><%= "#{@name}" %></h2>
  <h3> Twitter: <a href = "http://twitter.com/<%= "#{@twitter_username}" %>" > @<%= "#{@twutter_username}" %> </a> </h3>
</div>
