<h2>Add a new kitten?</h2>
<form action="/kittens" method = "post">
  <label for="name">Name</label>
  <input type="text" name= "name">
  <label for="age">Age</label>
  <input type="text" name="age">
  Is it cute?
  <label for="true">yes</label>
  <input type="radio" name="is_cute" value="true">
  <label for="false">no</label>
  <input type="radio" name="is_cute" value="false">
  <label for="image_url">What's the image URL?</label>
  <input type="text" name="image_url">
  <input type="submit" value="submit">
</form>
