<html><!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Rock Paper Scissor</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <h1> Rock Paper Scissor </h1>
  <%=yield%>
</body>
</html>