<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='/reset.css'>
    <link rel='stylesheet' href='/style.css'>
    <title><%= @title %></title>
  </head>
  <body>
    <%= yield %>
  <footer><br />
  <br />(C) Fijimunkii</footer>
  <script type="text/javascript" src="script/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="script/selectors.js"></script>
  </body>
</html>
