/*
Project Name: Ecard.ly
Client: General Assembly
Author: Christopher Castig | @castig
Developer @GA in NYC
*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/*Background Color: #d6d6d6
Text Color: #000000

Link Color: #cc6633

Container Width: 940px

Left Columm (#main): 640px
Right Column (#sidebar): 280px
*/

body {
     background-color: #d6d6d6;
     color: #000000;
     font-family: arial;
}

.header {
     background-image: url('/images/background.jpg');
     width: 100%;
     height: 162px;
}

.logo {
     margin-top: -150px;
     margin-right: auto;
     margin-left: auto;
     display: block;
}

.middle {
     width: 940px;
     height: 100px;
     margin: 0 auto;
     margin-top: 50px;
}

.left {
     float: left;
     width: 640px;
     background-color: white;

}

.right {
     float: right;
     width: 280px;
     background-color: white;
     display: 500;
}

.side_text {
     font-size: 12px;
     font-weight: bold;
}

.side_img {
    display: block;
    margin-top: 30px;
}

.inside_right {
     margin-top: 30px;
     margin-left: 25px;
     margin-bottom: 50px;

}
.inside_left {
     margin-top: 20px;
     margin-left: 20px;
}

.border {
     border-top: 1px dotted black;
     border-bottom: 1px solid black;
     margin-bottom: 70px;
}

.footer {
     margin-left: 50%;
     padding-top: 30px;
     margin-bottom: 30px;
     display: block;
     clear: both;
}

/*.footer_img {
     margin: 0 auto;

}*/
a {
     color: rgb(250,56,28);
     font-weight: bold;
     text-decoration: none;
}

p {
     font-size: 12px;
}





















