<section id="space">
  <article class="starship" id="enterprise">
  </article>
</section>

<section class="planet" id="vulcan">
  <p class="sarek"></p>
  <p class="skon"></p>
  <p class="solkar"></p>
  <p class="sybok"></p>
</section>
