/*

## Style Hints:

Body Font Size = 12px
   Line Height = 17px
   Font Family = "Times New Roman", serif
   Font Color = #656565

Link Hover Color = #20222a

*/

p {
  font-size: 12px;
  line-height: 17px;
  font-family: Times New Roman, serif;
  color: #656565;
  display: inline-block;
}

.date {
  color: #20222a;
}

.footer {
  display: inline-block;
}

#wrapper {
  width: 1000px;
  margin: 0 auto;
}
