/*

## Style Hints:

Body Font Size = 12px
   Line Height = 17px
   Font Family = "Times New Roman", serif
   Font Color = #656565

Link Hover Color = #20222a

*/

p {
  font-size: 12px;
  line-height: 17px;
  font-family: Times New Roman, serif;
  color: #656565;
  display: inline-block;
}

h3 {
  font-family: Times New Roman, serif;
  color: #656565;
}

span {
  color: #3399FF;
}

.brooklyn {
  margin: 20px;
}

.footer {
  display: inline-block;
  border: 6px solid #C8C8C8;
}

#wrapper {
  width: 1000px;
  margin: 0 auto;
}
