<h1>welcome</h1>

<form method="post" action="/photos">
<label>name</label><input type="text" value="name" name="name">
<label>image url</label><input type="text" value="img_url" name="img_url">
<label>date taken</label><input type="text"value="date_taken" name="date_taken">
<input type="submit" value="add my photo!">
</form>
