<section id="space">
  <article id="enterprise" class="starship">Enterprise</article>
</section>

<section id="vulcan" class="planet">
  <p class="vulcan"></p>
  <p class="vulcan"></p>
  <p class="vulcan"></p>
  <p class="vulcan"></p>
</section>
