<h2><%= @user.name %> - Thanks for logging in!</h2>

<div class="cases-main">
<div id="case">


</div>
</div>

<div class="cases-main">
<div id="case">
<% @user.solutions.each do |solution| %>
  <h1>Opinion: <%= solution.opinion %></h1>
<%end%>
</div>
</div>
