<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="javascripts/main.js"></script>
  <link rel ="stylesheet" href="css/style.css">
  <title>Th!nk P!nk</title>
</head>
<body class = "theWorld">

  <h1>Th!nk P!nk</h1>
  <p id="clicker"> [click me] </p>

</body>
</html>
