<form action="/photos" method="post">
  <input type="text" name="author" placeholder="author">
  <input type="text" name="img_url" placeholder="image URL">
  <input type="text" name="date_taken" placeholder="date taken">
  <input type="submit" value="post photo">
</form>