<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>WDInstagram</title>
</head>
<body>
  <header>
    <h1>wdinstagram</h1>
    <a href="/photos/add">add photo</a> |
    <a href="/photos">view all photos</a>
  </header>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>