<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Programmer_app</title>
</head>
<body>
  <ol>
    <li><%= @prog.name %>
      <br><img src=<%=@prog.twitter_pic%> alt="">
      <br><a href=<%="http://www.twitter.com/#{@prog.twitter_username}"%>><%= @prog.twitter_username %></a>
    </li>
  </ol>
</body>
</html>
