.starship {
  background-color: #2c3e50;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  text-align: center;
  font-family: monospace;
  color: #ecf0f1;
  font-size: 10px;
}

.planet {
  background-color: #e74c3c;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  text-align: center;
  font-family: monospace;
  color: #ecf0f1;
  float: right;
}

p {
  background-color: #f1c40f;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
}

h3 {
  padding-top: 70px;
  text-align: center;
}