<section id="space">
  <article id="enterprise" class="starship">
    <h1>Starship Enterprise</h1>
    <form action="" class="hidden">
      <input type="text" name="title" placeholder="title">
      <input type="textarea" name="message" placeholder="message">
      <input type="submit" value="save">
    </form>
  </article>
</section>
<section id="vulcan" class="planet">
  <h1>Vulcan</h1>
</section>
