.row {
  width: 1600px;
  margin-top: -4px; /*Just to get rid of the whitespace issues*/
}

.tile {
  display: inline-block;
  background-color: #ededed;
  margin-top: -1px;
  margin-bottom: -1px;
}

.highlighted {
  background-color: #79ed47;
}

.painted {
  background-color: #79ed47;
}
