<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>OMBD Movie Search</title>
  <!-- <link rel="stylesheet" type="text/css" href="../css/style.css"> -->
</head>
<body>

  <h1>The super awesome movie search app</h1>

  <%= yield %>

</body>
</html>