<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie Search</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <h1>Welcome to Movie Search</h1>
  <a href="/"><p>Search for a movie</p></a>
  <%= yield %>
</body>
</html>