<form action="/kittens/new" method="post">
  <label for="kitten_name"> Kitten</label>
  <input type="text" name="kitten" id="kitten_name"> <br>

  <label for="age"> Age </label>
  <input type="integer" name="age" id="age"><br>

  <label for="is_cute"> Is cute? </label>

  <label><input type="checkbox" name="is_cute"> True </label>
  <label><input type="checkbox" name="is_cute"> False </label><br>

  <label for="image_url"> Kitten Picture</label>
  <input type="text" name="kitten picture" id="image_url"><br>

   <input type="submit" value="submit">
</form>