#canvas {
  width: 500px;
  height: 500px;
}
.tile {
  height: 50px;
  width: 50px;
  background-color: grey;
  margin: 0px;
  margin-bottom: -4px;
  display: inline-block;
}
.green {
  background-color: green;
}
