<html><!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Stocks!</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<h1>Stock Information</h1>
<%=yield%>
</body>
</html>