.wrapper {
  padding: 5px 15px 0;
}
.row {
  width: 100%;
  min-height: 1px;
}
.row:before,
.row:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.row:after {
  clear: both;
}
#painting-container {
  width: 1000px;
  border: 1px solid black;
  margin: 0 auto;
}
.tile {
  width: 100px;
  height: 100px;
  float: left;
}
.selected {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.6);
}
.highlight {
  background: #c9c9c9;
  opacity: .6;
}
.palette {
  height: 35px;
  width: 35px;
  float: left;
  margin: 0 2px 25px 0;
}
.green {
  background: #27ae60;
}
.red {
  background: #c23824;
}
.blue {
  background: #227fbb;
}
