<h1>Delete Kitten</h1>
<div class="list"> These are the kittens currently in the database
  <ul class= "kittens">
    <%@list.each do |kittens|%>
      <li> <%=p kittens%> </li>
    <%end%>
  </ul>
  <div class="form area">
    <form action="/kittens/delete" method="post">
      Input ID of the kitten you want to delete
      <input type="text" name="delete_id">
      <input type="submit" name="Submit">
  <div>

</div>
