<h1>Make a new kitten:</h1>
<form action="/kittens" method="post">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="age" placeholder="age">
  <label for="is_cute">Is he cute?</label>
  <input type="radio" name="is_cute" value="true">Yes
  <input type="radio" name="is_cute" value="false">No
  <input type="text" name="img_url" placeholder="paste image URL here">
  <input type="submit" value="make">
</form>

<a href="/kittens">Click here to view all the kittens</a>.