<h2>Here's all the kittens:</h2>
<ul>
<% @kitten_list.each do |kitten| %>
  <li><a href="/kittens/<%= kitten['id'] %>"><%= "#{kitten['name']}" %></a></li>
<% end %>
</ul>

Click on a kitten's name to modify or delete it. <a href="/kittens/new">Click here to make a new kitten</a>.