<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/style.css">
  <title>Cute Kitten Shoppe</title>
</head>
<body>
  <header>
    <h1>The Cute Kitten Shoppe</h1>
  </header>
  <section style="container">
    <%= yield %>
  </section>
</body>
</html>