<html>
  <head>
    <title></title>
  <link rel='stylesheet' href='css/style.css'>
  <link href='http://fonts.googleapis.com/css?family=Lily+Script+One' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="header"></div>
    <div class='container'></div>

    <%= yield %>
    <div class="footer"></div>
    <p class='copyright'>Copyright Darth Vander Hoop 2013</p>
  </body>
</html>
