<form action="/kittens" method="post">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="age" placeholder="age">
  <label for="is_cute">Cute</label>
  <input type="radio" name="is_cute" value="true">
  <label for="is_cute">Not Cute</label>
  <input type="radio" name="is_cute" value="false" id="expensive_food">
  <input type="text" name="image_url" placeholder="link to picture">
  <input type="submit" value="send">
</form>
<h1>Kittens Database</h1>
<% @kittens.each do |kittens| %>
  <div class="kitten">
    <a href="/kittens/<%= kittens['id'] %>">
      <img class="polaroid" src= "<%= kittens['image_url'] %>" />
      <br><%= kittens["name"] %>
<% end %>

    </a>
  </div>

