<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Pet Shop</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div id="navbar" class="fixedattop">
    <a href="/">Home</a>
    <a href="/kittens">Database</a>
    <a href="owners">Owners</a>
  </div>
  <div id="content">
  <%= yield %>
  </div>
</body>
</html>
