<div class="container">
  <%= @kitten["name"] %><br />
  <%= @kitten["age"] %><br />
  <% if @kitten["is_cute"] == "true" %>
      "is cute!"<br />
  <% end  %>
  <img class="polaroid" src="<%= @kitten['image_url'] %>" />
  <h2>Owner: <%= @owners["name"] %></h2>
</div>
