<% @list.each do |x| puts x %>
<div class="box">
<div class="pname"><%= x["name"] %></div><a>
<div class="twitter"><%= x["twitter"] %></div>
<div class="picturez"><a href=programmers/<%= x["id"] %>><img src="<%= x["img_url"] %>"></a></div></div><% end %>