body {
  font: 16px/1.65em "Montserrat", sans-serif;
  background: #e9e9e9;
  color: #2e2222;
}
a {
  color: #ec604e;
  text-decoration: none;
}
a:hover {
  color: #d3412c;
}
h1 {
  font-size: 1.25em;
  border-bottom: 1px solid #d8d8d8;
}
h5 {
  color: #ec604e;
  text-transform: uppercase;
}

/* Search Box */
.search-box {
  position: relative;
  width: 75%;
  background: white;
  border: solid 1px #acacac;
  margin: 25px auto;
}
.search-icon {
  position: absolute;
  top: 25%;
  left: 20px;
}
.search-box input[role="search"] {
  padding: 9px 0px 9px 75px;
  font-size: 36px;
  line-height: 36px;
  border: none;
  font-family: inherit;
}
.search-box input[role="search"]:focus {
  outline: none;
}
.search-box input[role="search"]::-webkit-input-placeholder {
   color: #2e2222;
   line-height: 44px;
}
  .search-box input[role="search"]:-moz-placeholder {
     color: #2e2222;
     line-height: 44px;
  }
  .search-box input[role="search"]::-moz-placeholder {
     color: #2e2222;
     line-height: 44px;
  }
  .search-box input[role="search"]:-ms-input-placeholder {
     color: #2e2222;
     line-height: 44px;
  }

/* Individual Movie */
.container {
  padding: 0 50px;
}
.movie-container {
  display: flex;
  margin-bottom: 25px;
}
.movie-poster {
  flex: 1;
}
.movie-poster img {
  width: 100%;
  height: auto;
}
.movie-details {
  flex: 2;
  padding-left: 25px;
}
.genre, .runtime {
  color: #8a8a8a;
  width: 50%;
  display: inline-block;
  white-space: nowrap;
}
.runtime {
  text-align: right;
}
.runtime::before {
  content: '\F017\00a0';
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}
.rated {
  display: inline-block;
  font-size: .65em;
  line-height: 1em;
  min-width: 15px;
  text-align: center;
  border: 1px solid #2e2222;
  padding: 4px 2.5px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}
.plot {
  margin: 25px 0;
}
.director::before {
  content: 'Director: ';
}
.writer::before {
  content: 'Writer: ';
}
.actors::before {
  content: 'Actors: ';
}
.rating-container {
  margin-top: 25px;
  color: #ec604e;
}
.rating-score {
  color: #8a8a8a;
  padding-left: 5px;
  opacity: 0;
    -webkit-transition: opacity .25s ease;
     -moz-transition: opacity .25s ease;
      -ms-transition: opacity .25s ease;
       -o-transition: opacity .25s ease;
          transition: opacity .25s ease;
}
.rating-container:hover .rating-score {
  opacity: 1;
  -webkit-transition: opacity .25s ease;
     -moz-transition: opacity .25s ease;
      -ms-transition: opacity .25s ease;
       -o-transition: opacity .25s ease;
          transition: opacity .25s ease;
}
