<h2> Store a photo! </h2>
<form action= "/photos" method= post>
  <label>Author's Name</label>
  <input type="text" name="author">
  <label>Photo Url</label>
  <input type="text" name="photo_url">
  <label>Date Taken</label>
  <input type="text" name="date_taken" placeholder="YYYY-MM-DD">
  <input type="submit" value="Submit">
</form>



