<h2> View our photos directory </h2>

  <ul> <%@entries.each do |content|%>
    <div class= "viewphoto">
      </li class="entire_photo">
          <img class= "photo" src=<%=content[:photo_url]%>
          <label class="photolabel">Author:  <%=content[:author]%>
          <%=content[:date_taken]%></label></li>
                <%end%>
      </div>
  </ul>

  <nav><a href="/photos/new">Store new photo</nav>