<head>
  <meta charset="utf-8">
  <title>forms</title>
</head>
<link rel="stylesheet" href="css/style.css">
<style>
  body {
    font-family: arial;
    background-color : facade;
  }
</style>
<body>
  <header></header>
    <h1>Scenery Photos</h1>
    <%= yield %>
  <footer></footer>
</body>
</html>