<img class= "photo" src=<%=@photo_url%>
<label="photolabel">Author:  <%=@author%>
<%=@date_taken%></li></label>


  <nav><a href="/photos">Directory</nav>
  <nav><a href="/photos/new">Store new photo</nav>