<section id="space">
  <article id="enterprise">
    <h1>Enterprise</h1>
  </article>
</section>
<section id="vulcan" class="planet">
  <p class="vulcan">Sarek</p>
  <p class="vulcan">Skon</p>
  <p class="vulcan">Solkar</p>
  <p class="vulcan">Skybok</p>
</section>
