<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pet Shop</title>
  <link rel ="stylesheet" href = "/../css/style.css">
  <link href='http://fonts.googleapis.com/css?family=Sniglet' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>
  <h1>PETSHOP</h1>
  <img src = "http://i121.photobucket.com/albums/o217/neonicX/petshop_zps928c54d2.png">
</header>
<%= yield %>
</body>
</html>
