<div class = 'links'>
<a href="/">Home</a>
<a href="/new_kitten">Add Kitten</a>
<a href="/kittens">View All Kittens</a>
<a href="/owners">View All Owners</a>
<a href="/new_owner">Add Owner</a>
</div>

<div class = form>

  <form method = 'post' action = '/owners'>
  NAME: <input name = 'name' type = 'text'><br> <br>
  <input type = submit value='Add Owner'>
</form>
</div>
