<div class = 'links'>
<a href="/">Home</a>
<a href="/new_kitten">Add Kitten</a>
<a href="/kittens">View All Kittens</a>
<a href="/owners">View All Owners</a>
<a href="/new_owner">Add Owner</a>
</div>
<div class = "list">
<% @owners.each do |owner| %>
<p> <%=    "Name: #{owner['name'].upcase}" %>
<% end %>
</div>
