<form action="/" method="post">
  <label for "author">Username:</label>
  <input type="text" name="author">
  <label for="url">Image Url</label>
  <input type="text" name="url">
  <label for="date_taken">Date taken:</label>
  <input type="text" name="date_taken">
  <input type="submit" value="submit">
</form>
