body {
  background: url('http://d1535dk28ea235.cloudfront.net/preset_64/rock-paper-scissors1.png');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'helvetica', sans-serif;
  font-size: 20px;
  color: white;
  position: relative;
}

form {
  display: inline;
}
nav {
  background-color: rgba(0, 0, 0, 0.9);
  max-width: 900px;
  text-align: center;
  margin: 0 auto;
}
nav li {
  display: inline;
  margin: 10px;
  padding: 10px;
}
a {
  color: white;
}

.content {
  background-color: rgba(0, 0, 0, 0.9);
  max-width: 900px;
  text-align: center;
  margin: 0 auto;
}