<!DOCTYPE html>
<html >
<head>
  <meta charset="utf-8">
  <title> Movies </title>

   <style>
    body{
    background-color: #faf8cb;
    height: 1000px;
    width: 800px;
    border: 1px solid black;
      }
  </style>
</head>

<body>
  <h1> Movies, Movies </h1>


 <%=yield %>

</body>
</html>