<% if current_user %>
<h1>Welcome Back!</h1>
<p>Keep searching for titles unless you love not-laughing at inside jokes among your friends.</p>
<%= link_to "Search Titles", "/titles/search" %>
<% else %>
<h1>Welcome to Watch.it</h1>
  <h2>Scenario:</h2>
<p>
  You meet up with a group of friends for some casual socializing. A few beers, a few laughs, one thing leads to another... <br>
  you're all talking about a Movie or TV show <strong><em>that you've never seen!</em></strong>
</p>
<img src="http://media2.giphy.com/media/1R0cQCHcdqdiM/giphy.gif" alt="Ryan Gosling NO">
<p>The embarassing moment doesn't have to happen again.
  <br>
  <br>
  Use Watch.it to find the Movie or TV show and add it to your list of things to watch.
  <br>
  <br>
  Now...WATCH IT!!!
  <br>
  <br>
  Then dump it and get started watching the next thing.
</p>

<% end %>
