<p> "new entry form erb works"</p>

<form action="/gallery" method='post'>
  <label for="author">Name:</label>
  <input type="text" name='author' placeholder ='your name' id='author'>
  <label for="photo_url">Photo URL:</label>
  <input type="text" name='photo_url' placeholder='photo url' id='photo_url'>
  <label for="date_taken">Date Taken: </label>
  <input type="date" name="date_taken" id='date_taken'>
  <input type="submit" value='submit'>
</form>
