<body style="background-color: #000000; color: #FFFFFF">

<img src="http://infinity.usanethosting.com/StarTrek/StarTrek_TNG_TitleLogo.jpg" style="display: block; margin: 0 auto">

  <section id="vulcan" class="planet" style="width: 50%; float: right;"><img src="http://upload.wikimedia.org/wikipedia/commons/8/89/Gl876_planet1_h.jpg" style="height: 70%; width: 70%;" align="right"></section>

  <section id="space" style="width: 50%; float:left;">
    <article id="enterprise"><img src="http://edfchronicles.files.wordpress.com/2011/08/enterprise_5_hr.jpg" style="height: 50%; width: 50%;" align="left"></article>
  </section>