<!doctype html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Welcome!</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>

            <h1>Kill Time...</h1>

            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/game">Rock, Paper, Scissors</a></li>
            </ul>

            <div class="game">
                <%= yield %>
            </div>

    </body>

</html>