<h1 id="">Movie Info!</h1>
<h2><%= @results["Title"] %></h2>

<img src="<%= @results["Poster"] %>">

<table>
  <% @results.reject {|k,v| k=="Poster" }.each do |k,v|%>
    <tr>
      <th><%= k %></th>
      <th><%= v %></th>
    </tr>
  <% end %>
</table>
