<img class="logo" src="images/logo.png">
<img class="face left" src="images/comedy.gif">
<form action="/movies/search" method="get" accept-charset="utf-8">
  <input type="text" name="title" value="" id="title" placeholder="title">
  <input type="submit" value="Search &rarr;">
</form>
<img class="face right" src="images/tradedy.gif">
