<h1 id="">Search results for:&nbsp;<%= @query %></h1>

<% @results.each do |result|%>
  <li><a href="/movies/<%= result["imdbID"] %>"><%= result["Title"] %></a>&nbsp;(<%= result["Year"] %>)</li>
<% end %>

