<% @id %>
<ul>
<li><div class="name"><%= @name %></div></li>
<li><div class="twitter"><%= @twitter %></div></li>
<li><div class="image"><img src="<%= @img_url %>"></div></li>

<form method="post" action="/programmers/:id<% @id %>">
<% binding.pry %>
<input type="hidden" name="id" value="id<% @id %>">
<!-- <input type="text" value="github_url" placeholder="github_url"> -->
<input type="submit" value="submit">
</form>
