<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
<div class="header">
<h1>Welcome</h1>
<h2>to the Kickhash Kick-ass Programming directory.</h2>
</div>
<div class="browse_bar">
<ul>
<li>Browse <a href="/programmers">programmers</a>.</li>
<li>Add a <a href="programmers/new">programmer</a>.</li>
</div>
<div class="phone">
<img src="/old_phone.png">
</div>
</body>
</html>
