<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
<h1>Welcome</h1>
<h2>to the Kickhash Kick-ass Programming directory.</h2>

Browse <a href="/programmers">programmers</a>.

<div class="phone">
<img src="/old_phone.png">
</div>
</body>
</html>
