
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Prgrammers Hall of Fame Directory</title>
  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
</body>
</html>

<%= yield %>
