<div class="topper"></div>
<div class="detail">
<h3>New Programmer</h1>
<form method="post" action="/programmers">
<input type="text" name="name" value="name">
<input type="text" name="twitter" value="twitter">
<input type="text" name="img_url" value="img_url">
<input type="text" name="githubs" value="githubs">
<input type="submit" value="submit">
</form>
</div>