<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <title>Document</title>
</head>
<body>
  <div class="header_image">
    <img src="http://www.teampedia.net/wiki/images/0/0b/Rock.png">
  </div>
  <div class="links">
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/play">Play</a></li>
</ul>
</div>
<%= yield %>
</body>
</html>