<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href='http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="javascripts/main.js"></script>
  <link rel ="stylesheet" href="css/style.css">
  <title>[paint me]</title>
</head>
<body>

  <h1>[paint me]</h1>
  <div class = 'colorPalet'>colors:
  <div class = 'tile red palet' id = 'red'></div>
  <div class = 'tile yellow palet' id = 'yellow'></div>
  <div class = 'tile green palet' id = 'green'></div>
  <div class = 'tile black palet' id = 'black'></div>
  </div>

</body>
</html>
