<h1>Edit</h1>
<form name="input" action="/photos/<%= @pid =>" method="post">
  <input type="text" class="new-photo-text" name="url" placeholder="URL">
  <input type="text" class="new-photo-text" name="date" placeholder="Date">
  <input type="text" class="new-photo-text" name="author" placeholder="Name">
  <input type="submit" class="new-photo-submit" value="Submit">
</form>