<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WDInstagramm</title>
</head>
<body>
  <a href="/photos">Home</a>
  <a href="/photos/new">New</a>
  <%= yield %>
</body>
</html>