<!DOCTYPE html>
<head>
  <title>Piedra > Papel > Tijera</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="container">
  <img src="img/photo.png">
  <h1>Learn Spanish slang while playing Rock Paper Scissors</h1>
  <h3>piedra/rock   papel/paper   tijera/scissor </h3>
</div>
 <%= yield %>
</body>
</html>