
<!-- action= should be changed to /search -->

<form action="/movies" method="get">
  <input type="text" name="query" placeholder="search movie title">
  <input type="submit" name="Search">
</form>









<!-- <h2> <%= @parsed_result.to_s %> </h2> -->
