<h1>You're going through the '/kittens/new' path where you can create a kitten and add it to the database</h1>

<form action="/kittens" method="post">
  <input type="text" name="name">
  <input type="t"