<div class="form-fields">
<input id="size-input" type="text" placeholder="200px">
<input id="color-input" type="text" placeholder="cornflowerblue">
<input id="box-btn" type="button" value="Create Box!">
</div>

<%= javascript_include_tag "part2" %>