

<div id="dialog-form" title="Create Case">
  <p class="validateTips">All form fields are required.</p>

  <form>
  <fieldset>
    <label for="title">Title: A short description of your conflict.</label>
    <input type="text" name="title" id="title" class="text ui-widget-content ui-corner-all" />
    <label for="conflict">Conflict: Give us some details</label>
    <input type="text" name="conflict" id="conflict" value="" class="text ui-widget-content ui-corner-all" />
    <label for="expiration">Expiration: How many days would you like this?</label>
    <input type="expiration" name="expiration" id="expiration" value="" class="text ui-widget-content ui-corner-all" />
  </fieldset>
  </form>
</div>

<script>newCasePop();</script>
