



  <div id="dialog-form" title="Create Case">
  <p class="validateTips">All form fields are required.</p>

  <form>
  <fieldset>
    <label for="title">Title</label>
    <input type="text" name="title" id="title" class="text ui-widget-content ui-corner-all" />
    <label for="conflict">Conflict</label>
    <input type="text" name="conflict" id="conflict" value="" class="text ui-widget-content ui-corner-all" />
    <label for="expiration">Expiration</label>
    <input type="expiration" name="expiration" id="expiration" value="" class="text ui-widget-content ui-corner-all" />
    <field="hidden" session="<% session[:user_id] %>">
  </fieldset>
  </form>
</div>

<!-- <button id="create-user">Create Case</button> -->
