<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Rock-Paper-Scissors</title>
   <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

  <section>





  </section>

</body>
</html>