<section id="space">
  <article id="enterprise" class="starship"><h3>Enterprise</h3></article>
  <br><br>

  <section id="vulcan" class="planet">
  <h3>Vulcan</h3>

    <p class="vulcan">Sarek</p>
    <p class="vulcan">Skon</p>
    <p class="vulcan">Solkar</p>
    <p class="vulcan">Sybok</p>

  </section>
</section>
