<h2>Enter information here</h2>

<form name="input" action="/photos" method="post">

  <input type="text" name="author" placeholder="Name"><br>
  <input type="text" name="photo" placeholder="Image URL"><br>
  <input type="text" name="date_taken" placeholder="YYYY-MM-DD">
  <input type="submit" value="submit">

</form>
