<div class="links">
<ul>
<div  class="full_list"><li><a href="/programmers">See the full list</a></li></div>

<div class="add_to_list"><li><a href="/programmers/new">Add to the list</a></li></div>
</ul>
</div>
