<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Programmers on Twitter</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
  <div class="header">
    <h1><a href="/programmers">programmers</a></h1>
  </div>
  <%= yield %>
</body>
</html>
