<h2>Enter new information here</h2>

<form  action="/programmers" method="post">

  Name: <input type="text" name="name"><br>
  Twitter: <input type="text" name="twitter_username"><br>
  Photo: <input type="text" name="twitter_pic"><br>
  Github: <input type="text" name="github"><br>
  <input type="submit" value="Submit">


</form>
