/*
Project Name: Ecard.ly
Client: General Assembly
Author: Christopher Castig | @castig
Developer @GA in NYC
*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

body {
     background-color: #d6d6d6;
     color: #000000;

}

a:link {
     color: #cc6633;
}

.container {
     width: 940px;
     margin: 0 auto;
     width: 1000px;
     height: 500px;
}

/*need to review how this works*/
.replace_image {
  background-image: url("../images/background.jpg");
  background-size: contain;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  height: 100px;

}
.logo {
     max-height: 100px;
     max-width: 100px;
     display: block;
     margin: 0 auto;

}

.container section, aside {
     background-color: white;
}

.main {
     width: 640px;
     float: left;
     padding: 50px 50px;
}

.sidebar  {
     width: 280px;
     float: right;
}


.foot {
     border-top: 1px dashed;
     border-bottom: 2px solid;

}

/*is padding really the only way to center this?*/
footer {
     clear: both;
     padding: 50px 400px;

}


