<h1>Movie Database</h1>
<h2>Search</h2>

<form action="/movies/search" method="get">
  <input type="text" name="q" placeholder="Enter movie title">
  <input type="submit" value="Search">
</form>

<!--
Add a faves link to your movies index page.

When a user clicks faves, display all the movies that have been saved to your database. -->


<form action="movies/faves" method="get">
  <input class="faves" type="submit" value="FAVES">
</form>
