<h1>welcome to the Pet Shop Boys Pet Shop!</h1>

Please register below if you own a cat, would like to <a href="kittens">adopt</a>, or would like to give a cat up for <a href="drop">adoption</a>.


<form name="input" action="/kittens" method="post"> <br>
<label>name :</label><input type="text" name="owner_name"> <br>
<label>email:</label> <input type="email" name="owner_email"> <br>
<input type="submit" value="submit"> <br>
</form>