
<h1>These people have signed the guestbook</h1>
<% @cats.each do |cat| %>
<div class="petshop">
<li><div class="name"><%= cat["name"] %></div><div class="message"><%= cat["age"] %></li></div>
</div>
<% end %>