<h1>KITTIES KITTIES KITTIES</h1>
<a href="/kittens">Check out our kitty litter..</a><br>
<a href="/kittens/new">Create kitten, add to db</a><br>
<a href="/kittens/owner/new">Create owner, add to db</a><br>
<a href="/kittens/:id">Look up kitten by id..</a><br>
<a href="/kittens/new">Remove kitten from the litter..</a><br>

<h2 style="color: green"><%= @message %></h2>