<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Rock Paper Scissor</title>
  <link rel="stylesheet" href="style.css">
</head>
<html>
<body>
<section class="title">
<h1>Let's Play Rock Paper Scissors</h1>
</section>
<%= yield %>

</body>
</html>