<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pet Shop</title>
  <link rel ="stylesheet" href = "css/style.css">
  <link href='http://fonts.googleapis.com/css?family=Sniglet' rel='stylesheet' type='text/css'>
</head>
<body>
  <h1> PETSHOP</h1>
<%= yield %>
</body>
</html>
