<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Instagram</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <div class="header">
      <h1>Welcome to WDInstagram</h1>
    </div>
    <div class="links">
      <ul>
        <a href="/photos"><li>Home</li></a>
        <a href="/photos/new"><li>Create a New Entry</li></a>
      </ul>
    </div>
  </header>
  <%= yield %>
</body>
</html>