<p>Please input the required info.</p>

<form action="/photos" method ="post">
  <input type="text" name = "author" placeholder = "author">
  <input type="text" name = "photo" placeholder = "paste photo URL">
  <input type="text" name = "date_taken" placeholder = "yyyy-mm-dd">
  <input type="submit" value = "create">
</form>