<div class="titler">
This is an about, quite obviously.
</div>

<div class="container grid">

<div class="unit one-third" id="about-pic">
Matt Lucas
</div>
<div class="unit one-third" id="about-pic">
Natasha Green
</div>
<div class="unit one-third" id="about-pic">
Matthew Korporaal
</div>

</div>