<!-- <div class="titler">
This is an about, quite obviously.
</div> -->
<div class="container grid" id="about-text-main">
The Court of Popular Opinion is a tongue in cheek rebuke to lawyers who think that they're the best way to solve problems between people. Often, the general belief of a crowd can help point oneself in the right direction. Other times, the best solution could sound crazy but upon reflection make the most sense.<br><br>Ultimately, we at the Court of Popular Opinion believe that no one is alone in their problems, and the right advice might just come from the crowd... upvoted.
</div>

<div class="container grid">
<br><br><br><br>

<div class="unit one-fifth" id="about-pic">
Matt Lucas
</div>
<div class="unit one-fifth" id="about-pic">
Natasha Green
</div>
<div class="unit one-fifth" id="about-pic">
Matthew Korporaal
</div>

</div>

