<div class="titler">
This is an about, quite obviously.
</div>

<div class="container grid">
The Court of Popular Opinion is a tongue in cheek rebuke to lawyers that think that they're the best way to solve problems between people.
</div>


<div class="container grid">
<br><br><br><br>
<div class="unit one-fifth" id="about-pic">
Matt Lucas
</div>
<div class="unit one-fifth" id="about-pic">
Natasha Green
</div>
<div class="unit one-fifth" id="about-pic">
Matthew Korporaal
</div>

</div>

