<section>
<h2> All Articles </h2>
<ul class="articles-list">
<% @articles.each do |article| %>
  <li>
      <%= link_to article.title, article %> | Posted <%= article.created_at %>
  </li>
<% end %>
</ul>

<%= link_to 'Post a new Article', new_article_path %>
</section>