<div id="box" class="box"></div>

<div class="form-fields">
<input id="color-input" type="text" placeholder="cornflowerblue">
<input id="color-btn" type="button" value="Color me!">
</div>

<%= javascript_include_tag "part1" %>