
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='http://necolas.github.io/normalize.css/2.1.3/normalize.css'>
    <link rel='stylesheet' href='css/style.css'>
    <link href='http://fonts.googleapis.com/css?family=Lily+Script+One' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class='header'></div>
    <div class='container'>
      <h1></h1>
      <%= yield %>
    </div>
    <div class='footer'>
      <p class='copyright'>Copyright Darth Vander Hoop 2013</p>
    </div>
  </body>
</html>

