html {
  background: #212121 no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:#7F7F7F;
}
div#gmap {
  width: 600px;
  height: 400px;
}
div.map_container {
  width: 400px;
  height: 600px;
  border: none;
  padding: 0;
}
body {
  font: 17px 'Gruppo', cursive;
}
input {
  height: 30px;
  width: 230px;
  margin: 10px;
  text-align: center;
  border-style: none;
  font: 17px/21px 'Gruppo', cursive;
}
input[type=submit]{
  width: 80px;
  margin: 10px;
  background-color: #ffefdb;
  border-style: none;
}
select {
  border: none;
height: 30px;
}
#gmap {
  width: 100%;
  background-color: #c0ff33;
}
#pc-edit.piece-edit {
  padding-top:15px;
}
#new_comment.new_comment {
  padding-top:15px;
}
/*div.new-piece-form {
  width:400px;
  height: 500px;
  text-align: right;
}*/
div.piece-comments {
width: 600px;
font-size: 14px;
line-height: 15px;
}
div.show-pics {
  padding-top: 15px;
}
div.new-user-form {
  width:300px;
  height: 500px;
  text-align: right;
}
form#new_location.new_location {
  padding-top:150px;
}
form#new_piece.new_piece {
  padding-top:25px;
}
div.piece-form {
  width:400px;
  height: 500px;
  text-align: right;
}
.new-piece-form label {
  width: 125px;
}
.new_piece label {
  width: 125px;
}
h1 {
  font:30px;
  display:inline;
  float:left;
  margin: 0;
}
h3 {
  padding-top:105px;
  padding-left:20px;
}
h4#page-title{
  padding-top:50px
  height:10px;
  margin: 0;
}
ul {
  padding-top: 90px;
}
ul li{
  font-size: 21px;
  list-style: none;
  padding-bottom: 4px;
}
label.art-label {
  padding-right: 17px;
}
li.art-select {
  padding-right: 8px;
}
a {
  text-decoration: none;
  color: #67C7E2;
}
a:hover {
  text-decoration:underline;
}
.nav-head {
  position: relative;
  top: -50px;
  text-align: right;
  position: relative;
  padding-bottom: 20px;
}
.nav-head {float:right}
.nav-head:link {text-decoration: none;}
.nav-head:visited {text-decoration: none;}
.nav-head a{
  display: inline;
  padding: 0 10px;
}
.container {
  max-width: 800px;
  background-repeat: no-repeat;
  position: relative;
  margin: 0 auto;
}
.comments {
  font:12px;
  padding-bottom: 10px;
}
.graff-head {
  font-family: 'Syncopate', sans-serif;
  text-decoration: none;
  font-size:50px;
}
.graff-head:link {text-decoration: none; color: white}
.graff-head:visited {text-decoration: none;}

img {
  max-width: none !important;
  vertical-align: baseline !important;

  border-radius:30px;
  padding: 20px;
}
div, img {box-sizing:content-box;}

