<h2><%=@programmer[:name]%></h2>
<div class="individual">
    <h3> twitter_username: <%=@programmer[:twitter_username]%> </h3>
    <br>
    <img class= "programmer_id" src=<%=@programmer[:twitter_pic]%>
  </div>