<style>
body {
  color:white;
  background: black;
}

#vulcan {
  float:right;
  width: 250px;
  height: 250px;
}

#enterprise {
  width: 300px;
  height: 200px;
  display:inline;
  float:left;
}

#enterprise_crew {
  float:left;
}

#vulcan_residents {
  float:right;
}

.cruiser {
  width:200px;
  height: 150px;
}

</style>

<img id='enterprise' src= 'http://images2.wikia.nocookie.net/__cb20101224034637/memoryalpha/en/images/b/be/USS_Enterprise_(NCC-1701),_ENT.jpg'>

<div id='enterprise_crew'>
  <div id="results"></div>
  <div id="crew"></div>
</div>

<div id='vulcan_residents'>
</div>

<img id='vulcan' src= 'http://www.outerspaceuniverse.org/media/the-planet-mars.jpg'>
