<section id="space">
  <article class="bird-of-prey starship"></article>
  <article id="enterprise" class="starship">
  STARSHIP ENTERPRISE
  </article>
  <br><br>
</section>
<section id="vulcan" class="planet">
VULCAN PLANET
</section>