<h1>NYC Mayoral Race ballot</h1>

<a href="/ballot?occupation=zookeper">Ballot link</a>

<form action='/ballot'  method='get'>
  <input type='text' name='mayor'>
  <input type='submit' value='get'>
</form>

<form action='/ballot' method='post'>
  <input type='text' name='mayor'>
  <input type='submit' value='post'>
</form>

