<div class="question">What is the title of the movie?</div>
<div class="question_form">
  <form action="/movies/search" method="get">
    <br>
    <label for="query">Movie Title</label>
      <input type="text" name="query" id="Title">
      <input type="submit" value="Search">
    </form>
</div>