<section>
<h2><%= @user.username %>'s List to Watch</h2>
<!--
*This should display the list of all titles the user has selected
*Each title should display a button option to DELETE or MARK AS WATCHED
*If the user selects MARK AS WATCHED, "watched" boolean should change from false to true -->
</section>
