@import url(http://fonts.googleapis.com/css?family=Nova+Square);
@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One);

body {
  background-color: #E3CDA4;
  padding: 25px;
}

header {
  font-family: 'Nova Square', cursive;
  font-size: 100px;
  color: #703030;
  margin-bottom: 25px;
}

h3 {
  font-family: 'Nova Square', cursive;
  font-size: 50px;
  color: #703030;
  margin-bottom: 25px;
}

a {
  color: #703030;
  text-decoration: none;
}

a:hover {
  color: #501010;
  text-decoration: underline;
}

footer {
  text-align: right;
  font-family: 'Nova Square', cursive;
  font-size: 20px;
  color: #703030;
  margin-top: 100px;
  clear: both;
}

#rock {
  background-image: url(../images/rock.jpg);
  width: 316px;
  height: 316px;
  float: left;
  margin-right: 20px
}

#paper {
  background-image: url(../images/paper.png);
  width: 333px;
  height: 316px;
  float: left;
  margin-right: 20px
}

#scissor {
  background-image: url(../images/scissor.jpg);
  width: 420px;
  height: 316px;
  float: left;
}