<section>
<h1>graffiti list</h1>
<% if current_user %>
<%= link_to "Add new art..", new_piece_path %>
<% end %>
<ul class="piece-list">
<% @pieces.each do |piece| %>
  <li>
      <%= link_to piece.name, piece %> | Artist <%= link_to piece.artist.name, Artist.find(piece.artist_id) %>
  </li>
<% end %>
</ul>
</section>