<h1>Kitten's database</h1>

<form action="/kittens" method="post">
<label for="name">Name</label>
<input type="text" name="name" id="name"><br><br>

<label for="age">Age</label>
<input type="text" name="age" id="age"><br><br>

<label for="is_cute">Cute</label>
<input type="radio" name="is_cute" value="true">
<label for="is_cute">Ugly</label>
<input type="radio" name="is_cute" value="false"><br><br>

<label for="image">Image (please add the url)</label>
<input type="text" name="image_url" id="image">
<input type="submit" value="submit">
</form>

<p>Click <a href="/kittens">here</a> if you would like to see the full list of kitten's</p>



