<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cuter Kitten Shop</title>
</head>
<body>
  <header>
    <h1>Welcome to the Cute Kitten Shop!</h1>
    <a href="/">Home</a>
    <a href="/kittens">All Kittens</a>
    <a href="/owners">All Owners</a>

  </header>
  <div>
    <%= yield %>
  </div>


</body>
</html>


