<section id="space">
  <article class="starship" id="enterprise">


  </article>


  <section class="planet" id="vulcan">

    <p class="vulcan" id="sarek">Sarek</p>
    <p class="vulcan" id="skon">Skon</p>
    <p class="vulcan" id="solkar">Solkar</p>
    <p class="vulcan" id="sybok">Sybok</p>

  </section>

</section>
