<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Programmers</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <div class ="header">
    <h1>Programmers on Twitter</h1>
    <a href="/"><p>HOME</p></a>
    </div>
  </header>
  <%= yield %>
</body>
</html>