<div class="profile">
  <p>This is <strong><%=@programmer_info.name%></strong>, twitter username is <strong><%=@programmer_info.twitter_username%></strong></p><br>
  <img src="<%=@programmer_info.twitter_pic%>" >
</div>