<form action="/kittens" method="post">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="age" placeholder="age">
  <input type="text" name="image_url" placeholder="link to picture">
  <input type="submit" value="send">
</form>
