<div class="row">
    <div class="jumbotron">
                    <h1>PMVimdb</h1>
                    <p>Poor Man's Version of the Internet Movie Database</p>
                    <p><a href="/movies/search" class="btn btn-primary btn-lg">Lookup a Movie</a></p>
    </div>
    <div class="container">
        <h2>Today's Movie Quote</h2>
        <p><%= @quote %></p>
    </div>
</div>
<div class="row">
        <div class="container gif">
            <img src="/img/blank.png">
        </div>
    </div>
</div>
