<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Movie Search</title>
  <link rel="stylesheet" href="css/style.css">
</head>
    <body>
        <div id="wrapper">
            <nav>
                <ul>
                    <a href="/"><li>Home</li></a>
                    <a href="/movies"><li>Movies</li></a>
                </ul>
            </nav>
      <%= yield %>
        </div>
    </body>
</html>