<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <div class="container">
                <form action="/movies/results" method="get">
                  <input class="form-control" placeholder="Search for a movie" type="text" name="query" id='query'><br>
                  <button type="submit" class="btn btn-primary" value="Search">Search</button>
                </form>
                <div class="container search_gif">
                    <img src="/img/blank.png">
                </div>
            </div>
        </div>
    </div>
</div>