<!DOCTYPE html>
<html>
<head>
	<title>
		<%=
			@dist.name
		%>
	</title>
</head>
<body>
	<h1>
		<%=
			@dist.name
		%>
	</h1>

	<ul>
		<li><a href="/cellar">the cellar</a></li>
		<li><a href="/bar_rats">the bar rats</a></li>
		<li><a href="/make_drinks">distill til the rooster crows</a></li>
	</ul>

</body>
</html>