<% if @parsed_result.length == 0 %>

Sorry there are no results for that search.

<% else %>

	Search results:

	<% @parsed_result.each do |movie| %>

		<br />
		
			<a href="/movies/<%= movie['imdbID'] %>">

			<%= movie["Title"] %> - <%= movie["Year"] %>

		</a>

	<% end %>

<% end %>