<h2>Welcome to the Cute Kitten Shoppe.</h2><br>
<ul>
  <li><a href="/kittens/new">Click here to make a kitten</a></li>
  </li><a href="/kittens">Click here to view all the kittens</a><li>
  <li><a href="/owners">Click here to add an owner</a></li>
</ul>