#header {
  height:100px;
}

#hangman-container {
  width:960px;
  margin: 0 auto;
}

#gallows-image {
  width:50%;
  margin: 0 auto;
}

#new-game {
  display:block;
  width:20%;
  margin: 0 auto;
}

#guess-input {
  width:100%;
  margin: 0 auto;
  display:none;
}

#submit-button {
  width: 20%;
  margin:0 auto;
  display:block;
}

#guess-input-field {
  display:block;
  width: 20%;
  margin: 0 auto;
}

h1, p {
  text-align: center;
}


