<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MTA Subway Lines</title>
</head>
<body>
  <ul>
    <li><a href="/plan/l_train"><%= @l_train %></a></li>
    <li><a href="plan/g_train"><%= @g_train %></a></li>
    <li><a href="plan/n_train"><%= @n_train %></a></li>
  </ul>
</body>
</html>