<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Programmers App</title>
</head>
<body>
  <header><a href="/">Home</a></header>

  <section>
    <%= yield %>
  </section>

</body>
</html>
