

<form action="/programmers" method='post'>
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="twitter_username" placeholder="Twitter Username">
  <input type="text" name="twitter_pic" placeholder="Twitter Pic URL">
  <input type="text" name="github_username" placeholder="Github Username">

  <input type="Submit" value="Submit">

</form>
