
<% result = @results %>

<form action="/programmers" method='post'>

  <input type="text" value="<%=result.name%>">
  <input type="text" value="<%=result.twitter_username%>">
  <input type="text" value="<%=result.twitter_pic%>">
  <input type="text" value="<%=result.github_username%>">


  <input type="Submit" value="Submit">




</form>
