<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Rock, Paper, Scissor!</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Play Now!</a></li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>