<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Rock, Paper, Scissors!</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header><img src="http://sale.images.woot.com/Rock_Paper_Scissors4xeDetail.png" alt="Rock, Paper, Scissors"></header>
  <%= yield %>
</body>
</html>