<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Beverage</title>
  <link rel="stylesheet" href="../style.css">
</head>
<body>
  <h4>New Beverage!</h4>
    <img src="http://www.beer100.com/images/beermug.jpg">
  <a href="/">Go back</a>
</body>
</html>