<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Person Created</title>
</head>
<body>
  <h4>Person Created!</h4>
  <p><%= @new_person_name %> was created!</p>
  <a href="/">Go back</a>
</body>
</html>