<h1> Hello Player 2, please input choices. </h1>


<form action="/answer">
  <input type="text" name="query2">
  <input type="submit" value="Search" placeholder="Search">
</form>

<% if @result.nil? %>
  <% else %>
    <% end %>


Player 2 put in the choice: <%= @result2 %>


<% input2 = @result2 %>
<Input2 is <%=input2%>

<a href="/answer">  RESULTS </a>



