

<h1> Hello Player 1, please input choices. </h1>



<form action="/dummy2">
  <input type="text" name="query">
  <input type="submit" value="Search" placeholder="Search">
</form>


<% if @result.nil? %>
  <% else %>
    <% end %>


Player 1 put in your choice: <%= @result %>



<% input1 = @result %>
<Player1 is going to choose <%=input1%>


