

<section class="index">
<h1> Rules of the game: players have to pick an object that will "top" the other player's object. </h1>

<p>
Courtesy of Wiki:
"Rock-paper-scissors is a hand game usually played by two people, where players simultaneously form one of three shapes with an outstretched hand. The "rock" beats scissors, the "scissors" beat paper and the "paper" beats rock; if both players throw the same shape, the game is tied."


Players please click this button to play:
</p>

<button><a href="dummy"/> Hands </a></button>
</section>

