


<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="css/style.css">
  <meta charset="utf-8">
</head>

<body>
<div class="container1">
<h1> Paper, Rock, and Scissors! Do you have what it takes?</h1>
</div>

<section>
<img src="http://upload.wikimedia.org/wikipedia/commons/a/aa/GabbroRockCreek1.jpg" alt= "rock" >
<img src="http://greenbusinessmatters.com/wp-content/uploads/2013/08/paper.gif" alt= "paper" >
<img src="http://bestclipartblog.com/clipart-pics/scissors-clip-art-10.gif" alt= "scissors" >
</section>

<%= yield %>


</body>
</html>