body {
  width: 960px;
  margin: 0 auto;
}


.tile {
  background-color: #CCCCCC;
  /*width: 50px;
  height: 50px;*/
  width: 5px;
  height: 5px;
/*  display: inline-block; */
  float: left;
/*  margin: 3px;
  margin-bottom: -1px;*/
}

h1 {
  margin-bottom: 140px;
  line-height: 25px;
}

.painting .palette {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: inline-block;
  float: right;
  margin-bottom: 50px;
}

.green, .paintitgreen {
  background-color: green;
}

.red, .paintitred {
    background-color: red;
}

.black, .paintitblack {
    background-color: black;
}

.yellow, .paintityellow {
    background-color: yellow;
}

.blue, .paintitblue {
  background-color: blue;
}

.white, .paintitwhite {
  background-color: white;
}