.red {
  background-color: hsla(0, 80%, 70%, 1);
}

.orange {
  background-color: hsla(21, 80%, 70%, 1);
}

.yellow {
  background-color: hsla(45, 80%, 70%, 1);
}

.green {
  background-color: hsla(103, 80%, 70%, 1);
}

.blue {
  background-color: hsla(212, 80%, 70%, 1);
}

.purple {
  background-color: hsla(269, 80%, 70%, 1);
}

.pink {
  background-color: hsla(312, 80%, 70%, 1);
}
