<h1 id="heading">my kitten factory!</h1>

<a href=/kittens>view kittens</a>
<br>
<a href=/kittens/new>make a new kitten</a>
<br>
<a href=/owners>view owners</a>
<br>
<a href=/owners/new>make a new owner</a>
<br>

