<h1 id="heading">Make an owner!</h1>

<form action="/owners" method="post" accept-charset="utf-8">
  <label for="name">name</label><input type="text" name="name" value="" id="name">
  <br>
<input type="submit" value="Continue &rarr;">
</form>
