<h1 id="heading">Update <%= @kitten_info["name"] %>!</h1>

<form action="/kittens/<%= @kitten_info["id"] %>" method="post" accept-charset="utf-8">
  <label for="name">name</label><input type="text" name="name" value="" id="name">
  <br>
  <label for="age">age</label><input type="age" name="age" value="" id="age">
  <br>
  <label for="is_cute">is_cute</label><input type="checkbox" name="is_cute" value="true" id="is_cute">
  <br>
  <label for="image_url">image_url</label><input type="text" name="image_url" value="" id="image_url">
  <br>

<input type="submit" value="Continue &rarr;">
</form>
