/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
  background-color: #89C6EB;
}

.header {
  background-color: #2B2B2B;
  text-align: center;
  color: white;
  border-radius: 10px;
}

.header li {
  padding-bottom: 10px;
}

h1 {
  padding-top: 10px;
}

.links li {
  list-style: none;
}

a:link {
  color:white;
}

a:visited {
  color:white;
}

a:hover {
  color:blue;
}

.profile {
  background-color: #2B2B2B;
  text-align: center;
  width: 200px;
  height: 200px;
  color: white;
  margin:0 auto;
  border-radius: 10px;
  margin-top: 50px;
}

.profile p {
  padding-top: 10px;
}

.profile img {
  height: 100px;
  width: auto;
  border: 1px solid orange;
}

