<h1> Movies! </h1>

<h2>Please search for your favorites</h2>

<form action = "movies/search" method="post">
<label for "title"> Movie Title </label>
<input type = "text" name = "title" id = "title">
<input type = "submit" value = "search">
</form>