.pink {
  background-color: pink;
}

/*green*/
.green {
  background-color: #00ffb7;
}

/*orange*/
.orange {
  background-color: #ffae00;
}

/*blue*/
.blue {
  background-color: #006aff;
}

/*red*/
.red {
  background-color: #c51111;
}

/*purple*/
.purple {
  background-color: #8c00ff;
}

/*yellow*/
.yellow {
  background-color: #fff700;
}
