#main {

}

#reveal {
 /* height: 50px;
  width: 200px;
  border: 1px solid rgba(50, 20, 20, 1);*/
}


#guess {
  font-family: georgia serif;
  font-size: 2em;
  text-align: center;
  width: 35px;
  height: 50px;
}
