     <h1><%= @title %></h1>
        <form action="">
            <input type="submit" value="Rock" name="query">
            <input type="submit" value="Paper" name="query">
            <input type="submit" value="Scissors" name="query">
        </form>
        <% if @Rock %>
        <h2>I guessed Rock</h2>
        <% elsif @Paper %>
        <h2>I guessed Paper</h2>
        <% else @Scissors %>
        <h2>I guessed Scissors</h2>
        <% end %>

<!-- The '=' sign is needed to render the ruby code. don't use it unless you want to render the code... -->