<h1>Search For Someone</h1>
<form action="">
    <label>First</label>
    <input type="text" name="first" placeholder="Firstname">
    <label>Last</label>
    <input type="text" name="last" placeholder="Lastname">
    <input type="submit" value="search">
</form>
