<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="style.css">
  <title>Welcome to the WDIMDomg</title>
</head>
<body>
<div class="global">
<section class="main">
<div class="welcome_image">
<img src="times.jpg">
</div>

<div class="search_bar">
<form action="/results" method="get">
<label for="movie_search">Search</label>
<select name="movie_search">Movie Search</a>
<option value="title">Title</option>
<option value="year">Year</option>
<option value="director">Director</option>
<option value="actor">Actor</option>
</select>
<input type="text" name="query" id="query">
<input type="submit" value="search">
</form>
</div>


</section>
</div>
</body>
</html>