<h1>Add a kitten to kitten_shop</h1>

<form method="post" action="/kittens">
  <label>Name:</label>
  <input type="text" name="name" placeholder="Name"><br/>
  <label>Age:</label>
  <input type="text" name="age" placeholder="Age (in years)"><br/>
  <label>Is this kitten cute?:</label>
  <input type="text" name="is_cute" placeholder="true/false"><br/>
  <label>Image URL:</label>
  <input type="text" name="image_url" placeholder="Image URL"><br/><br/>
  <input type="submit" value="Add the kitten">
</form>
<br/>
<a href="/">Home</a>
