
<!-- doesn't work with the current file setup -->
<!-- specifically there is an issue with the params and a conflict between the submitted for amd the :id in /kittens/:id -->

<!-- <h1>Add a kitten to kitten_shop</h1>

<form method="get" action="/kittens/:id">
  <input type="text" name="id" placeholder="Enter the kitten's id number">
  <input type="submit" value="Add the kitten">
</form>
 -->
