<h1>What would you like to do?</h1>
<h3>Please select from the following options:</h3>

<h2><a href="/add_kitten">add a kitten</a></h2>
<h2><a href="/kittens">see the kittens</a></h2>
<!-- <h2><a href="/kitten/find">find a specific kitten</a></h2> -->


<h2>remove a kitten from the database</h2>
<h2>update a kitten's record in the database</h2>
