<div class="container">
<h4>Add your contact information to our database</h4>

<fieldset class="auto_width_add">
<legend>Contact information</legend>
<form action="/programmers" method="post">
<label>Name</label><br />
<input type="text" name="name" placeholder="your name" required="required"  /><br />
<label>Twitter username</label><br />
<input type="text" name="twitter_username" placeholder="twitter" required="required" /><br />
<label>Twitter picture</label><br />
<input type="text" name="twitter_pic" placeholder="image url" required="required" /><br />
<label>Github username</label><br />
<input type="text" name="github_username" placeholder="github username" required="required" /><br />
<input type="submit" value="Submit" />
</form>
</fieldset>
</div>



