<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Programming app!</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div id="header">
   <h1>Programming app!</h1>
  <a href="/programmers/new">Add new programmer</a>
  </div>
<%=yield%>


</body>
</html>