<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="css/style.css" rel="stylesheet">
  <title>Rock Paper Scissors!</title>
</head>
<body>
  <section class="container">
  <nav>
    <ul>
      <li><a href="/single_player">Play Single-Player Game</a></li>
      <li><a href="/multi_player">Play Multi-Player Game</a></li>
    </ul>
  </nav>
  <div class="content">
  <%= yield %>
</div>
</section>
</body>
</html>