
<form action="/result">
Player 1: <input class="input" type="text" placeholder="rock, paper or scissors?" name="choice">
Player 2: <input class="input" type="text" placeholder="rock, paper or scissors?" name="choice2">
<hr>
<input class="button" type="submit" value="Go!">
</form>