<form action="/programmers" method="post">
Please enter all information about your new programmer
<br>
<label>Name</label>
  <input type="text" name="create_name">
  <br>
<label>Twitter_Username</label>
  <input type="text" name="create_twitter_username">
  <br>
<label>Twitter_Pic</label>
  <input type="text" name="create_twitter_pic">

  <input type="submit" value="Submit">
</form>