<div class="container">

	<form action='/' method='get'>
	  <input type='text' name='symbol' placeholder='<%= @symbol || 'Stock' %>' autofocus>
	  <button><%= @quote || 'Get Quote' %></button>
	</form>

  <footer>(C) GA WDI Corp</footer>
  <br />
  <br />

  <div id="ticker">
    <marquee behavior="scroll" direction="left">
      <%= @top_50 %>
    </marquee>
  </div>

  <div id="articles">
    <marquee behavior="scroll" direction="up" scrollamount="3">
      <%= @articles %>
    </marquee>
  </div>

</div>