<form action="/programmers" method="post">
  <input type="text" name="name" value="<%= @programmer.name %>">
  <input type="text" name="twitter_pic" value="<%= @programmer.twitter_pic %>">
  <input type="text" name="twitter_username" value="<%= @programmer.twitter_username %>">
  <input type="text" name="github_username" placeholder="github username">
  <input type="submit" value="update">
</form>