<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movies</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
</head>
<body>
  <%= yield %>
</body>
</html>