<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WDInstagram</title>
  <style type="text/css">
  body, h1, h3 {
    font-family: Helvetica;
  }
</style>
</head>
<body>
  <div>
    <%= yield %>
  </div>
</body>
</html>