<h1>Please add a new post</h1>

<form action='/create' method='post'>
  <input type='text' name='author' placeholder='Your name'><br>
  <input type='text' name='image_url' placeholder='Image url'><br>
  <input type='text' name='date' placeholder='Date: YYYY-MM-DD'><br>
  <input type='submit' value='Submit'>
</form>