<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Jackie's Movie Database</title>
  <link href='http://fonts.googleapis.com/css?family=News+Cycle' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Kotta+One' rel='stylesheet' type='text/css'>
 <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch' rel='stylesheet' type='text/css'>
  <link rel ="stylesheet" href = "../css/style.css">
</head>
<body>
<h1> Jackie's Movie Database</h1>
  <%= yield %>
<footer>
<a class= "back" href="/"> | Search </a>
<a class= "back" href="/faves"> | Favorites | </a>
</footer>
</body>
</html>
