<div class = "search box">
<h2>Please search for a movie:</h2>

<form action = "movies/search" method="get">
<input type = "text" name = "q" placeholder = "Movie Title">
<input type = "submit" value = "SEARCH">
</form>
</div>

