.row {
  width: 1600px;
  margin-top: -1px;
}
.tile {
  display: inline-block;
  background-color: #ededed;
  margin-top: -1px;
  margin-bottom: -1px;
}
.highlighted {
background: #2ecc71;
}
.painted {
background: #2ecc71;
}
