<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/style.css">
  <title>Rock Paper Scissors</title>
</head>
<body>
  <div class="wrapper">
    <header>
      <h1>Quin's KickHash Rock Paper Scissors</h1>
      <img src="img/rps_hands.jpg">
    </header>

    <section class="layout">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="http://en.wikipedia.org/wiki/Rock-paper-scissors">Background, History and Rules</a></li>
        </ul>
    </section>
    <%= yield %>
  </div> <!-- close wrapper -->
</body>
</html>