/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  font-family: Arial, sans-serif;
  background-color: #01DF3A;
  background-image: url("http://imgs.xkcd.com/comics/duty_calls.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  margin-left: 100px;
}


h2 {
  margin-left: 100px;
}

h3 {
  margin-left: 100px;
}

/*.nav{
  margin-top: 50px;
  margin-left:100px;
}*/
.programmers_list {
  margin-left: 100px;
}

.programmer {
  height: 100px;
  width: 100px;
}

.individual {
  margin-left: 100px;
}

nav {
  margin-left: 100px;
}

form {
  margin-left: 100px;
}

.editor {
  margin-left: 100px;
}
