/*body {
    background: url('http://www.teampedia.net/wiki/images/0/0b/Rock.png') no-repeat fixed center white;
}*/

body {
    background-color: #ccc;
}

.game {
    border: 1px solid black;
    background-color: white;
    width: 400px;
    height: 220px;
    padding-left: 30px;
}