<form method="post"action="/kittens">
  <br>
  <input type="text" name="name" placeholder="Name">
  <br>
  <br>
  <input type="text" name="age" placeholder="Age">
  <br>
  <p>Is the kitten cute?</p>
    <input type="radio" name="is_cute" value="true" checked="checked">Yes
    <input type="radio" name="is_cute" value="false">No
  <br>
  <br>
  <input type="text" name="image_url" placeholder="Image URL">
  <br>
  <br>
  <input type="submit" value="MEOW!">
</form>
