<h1>My Kittens</h1>

<% @kittens.each do |kitten| %>
  <h3><%= "#{kitten["name"]}" %></h3>
  <li><%= "#{kitten["age"]}" %> years old</li>
  <li>Cute? <%= "#{kitten["is_cute"]}" %></li>
  <img src="<%= "#{kitten["image_url"]}" %>">
<% end %>
