/*
Project Name: Ecard.ly
Client: General Assembly
Author: Christopher Castig | @castig
Developer @GA in NYC
*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

body {
     background-color: #d6d6d6;
}

header {
    margin-bottom: 15px;
}

.masthead {
     background: url(../images/background.jpg);
     background-repeat: repeat-x;
}

.masthead img {
     display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.container {
     width: 960px;
     margin: 0 auto;
     padding-top: 30px;
}

.main {
     width:  640px;
     background-color: white;
     float: left;
     padding-bottom: 60px;
}

.sidebar {
     width: 280px;
     background-color: white;
     float: left;
     margin-left: 20px;
     padding: 0px;

}

.post {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom:  10px;
}

.main p {
    font-size: 12px;
    line-height: 1.5;
}

a {
    color: #EA4239;
    font-style: bold;
    text-decoration: none;
    font-weight: bold;
    line-height: 2;
}

.article_footer {
    border-top:  1px dotted;
    border-bottom: 1px solid;
}

.article_footer p {
    margin-left: 8px;
    margin: 5px;
}

.menu {
    padding-top: 30px;
    padding-left: 0px;
    margin-left: 0px
}

.menu a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

ul {
    list-style: none;
    margin-left: -15px;
    line-height: 1.5;
    margin-bottom: 30px;
    font-size: 12px;
}

ul li {
    text-align: left;
    margin: 0px;
}


.logos {
    margin-bottom: 50px;
}

.logos img {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
}

.footer {
    padding-top: 40px;
    padding-bottom:  40px;
    clear: both;
    text-align: center;
}

.footer img {
    margin-left: auto;
    margin-right: auto;

}
