body {
  text-align: center;
  margin: 0 auto;
  font-size: 2em;
  font-family: 'Love Ya Like A Sister', cursive;
  background-color: #ACA;
  color: #252;
}

h1 {
  margin-top: 15px;
}

.tile {
  background-color: #FFF;
  border: 1px solid #DFD;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-top: -10px;
}

.redHover, .red {
  background-color: red;
}
