body {
  text-align: center;
  margin: 0 auto;
  font-size: 2em;
  font-family: 'Love Ya Like A Sister', cursive;
  background-color: #369;
  color: #CCC;
}

h1 {
  margin-top: 15px;
  margin-bottom: 10px;
}

.tile {
  background-color: #FFF;
  width: 22px;
  height: 22px;
  display: inline-block;
  position: static;
}

.redHover, .red {
  background-color: red;
}

.yellowHover, .yellow {
  background-color: yellow;
}

.greenHover, .green {
  background-color: #00FF00;
}

.blackHover, .black {
  background-color: black;
}

.row {
  margin: 0 auto;
  width: 850px;
  height: 22px;
}

.palet {
  border: 3px solid #ddd;
  border-radius: 6px;
  width: 35px;
  height: 35px;
}

.colorPalet {
  padding-top: 10px;
  padding-bottom: 5px;
}
