<h4>Would you like to donate a kitten?</h4>
<form action="/kittens" method ="post">
  <input type="text" name = "name" value="name">
  <input type="text" name = "age" value ="age">
  <input type="text" name = "description" value ="description">
  <input type="submit" value ="submit">
</form>