<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cute Kitten</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <div class ="header">
   <h1>Welcome to the Cute Kitten Shop</h1>
   <div class="header_links">
  <ul>
    <a href="/kittens"><li>Kittens inventory</li></a>
    <a href="/"><li>Create a Kitten</li></a>
    <a href="/owners"><li>Create an Owner</li></a>
  </ul>
   </div>
 </div>
  </header>
  <%= yield %>
</body>
</html>