<body style="background-color: #000000; color: #FFFFFF">

<img src="http://infinity.usanethosting.com/StarTrek/StarTrek_TNG_TitleLogo.jpg" style="display: block; margin: 0 auto">

<section id="space">
  <article id="enterprise" style="float: left"><img src="http://reggiestake.files.wordpress.com/2012/05/enterprise_d.jpg" style="height: 35%; width: 35%"><h1>Enterprise</h1></article>
</section>

<section id="vulcan" class="planet" style="width: 50%; float: right">
  <img src="http://upload.wikimedia.org/wikipedia/commons/8/89/Gl876_planet1_h.jpg" style="height: 50%; width: 50%" align="right">
</section>