<h2>Enter the new kitten's information:</h2>

<form name="input" action="/kittens" method="post">
  <input type="text" name="name" placeholder="Name"><br>
  <input type="text" name="age" placeholder ="age"><br>
  <input type="checkbox" name="is_cute" value="true">Is cute<br>
  <input type="text" name="image" placeholder="image url">
  <input type="submit" value="submit">
</form>

