<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <title>Quin's Movie app</title>
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <!-- <a href="/movies/search">Search</a> -->
    </nav>
  </header>
  <div>
  <%= yield %>
  </div>
</body>
</html>