<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Quin's Movie app</title>
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/movies/search">Search</a>
    </nav>
  </header>
  <%= yield %>

</body>
</html>