<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <title>Quin's Movie app</title>
</head>
<body>
  <header>
    <nav>
      <!-- <a href="/">Home</a> -->
      <a href="/favorites">Favorites</a>
      <!-- <a href="/movies/search">Search</a> -->
    </nav>
  </header>
  <div>
    <section class="search">
<!--   <img src="../img/film_roll.jpeg" alt="film_roll"> -->



  <form action="/movies/results" method="get">
    <input type="text" name="query" id='query' placeholder='Search Movies'>
    <input type="submit" value="Search">
  </form>



<!--   <img src="../img/movie_random.jpeg" alt="film_roll"> -->
</section>
  <%= yield %>
  </div>
</body>
</html>