<!-- <section class="search">
<!--   <img src="../img/film_roll.jpeg" alt="film_roll"> -->


<!--
  <form action="/movies/results" method="get">
    <input type="text" name="query" id='query' placeholder='Search Movies'>
    <input type="submit" value="Search">
  </form> -->



<!--   <img src="../img/movie_random.jpeg" alt="film_roll"> -->
<!-- </section> -->
