
<div class = "container">
<img src = "http://25.media.tumblr.com/tumblr_m0ckg0Iafy1qzvtljo1_500.gif" >
<ul>
  RULES:
  <li>Rock beats Scissors</li>
  <li>Scissors beats Paper</li>
  <li>Paper beats Rock</li>
</ul>
</div>

<a href = "play" class = "button"> Play </a>