<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Rock Paper Scissors!</title>
<link href='http://fonts.googleapis.com/css?family=PT+Sans|Arimo|Montserrat|Nunito' rel='stylesheet' type='text/css'>
  <link rel= "stylesheet" href = "css/style.css">
</head>
<body>
  <header>
    <h1><a href="/">Rock, Paper, Scissors ✂</a></h1>
  </header>
  <%= yield %>

</body>
</html>