<h2><%= @header %></h2>
<form action="/new" method="post">
  <input type="text" name="author" placeholder="Author">
  <input type="text" name="photo_url" placeholder="Image URL">
  <input type="date" name="date" placeholder="Date Taken">
  <input type="submit" value="Create">
</form>
