<ul>
<li><div class="name"><%= @name %></div></li>
<li><div class="twitter"><%= @twitter %></div></li>
<li><div class="imgage"><img src="<%= @img_url %>"></div></li>


<form method="post" action="/programmers/">
<input="text" value="github_url">
<input="submit" value="submit">
</form>