<h1>Add a owner!</h1>
<form action="/owner" method="post">
  What is the name of the owner?
  <br>
  <label>Name</label>
  <input type="text" name="add_owner">
  <br>
  <input type="submit" value="Submit">
</form>