<form action="/photos" method="post" accept-charset="utf-8">
  <label for="author">author</label><input type="text" name="author" value="" id="author">
  <label for="photo_url">photo_url</label><input type="text" name="photo_url" value="" id="photo_url">
  <label for="date_taken">date_taken</label><input type="text" name="date_taken" value="" id="date_taken">  


<p><input type="submit" value="Continue &rarr;"></p>
</form>
