<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Stock Quotes</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="wrapper">

  <header>
    <div class="header_border"></div>
<h1>STOCKS</h1>
  </header>
 <div> <%= yield %></div>
  <footer>
<h2>By YahooFinance</h2>
  </footer>
    </div>

</body>
</html>