<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>IMDB Movie Search App</title>
    <link rel="stylesheet" href="ccs/style.css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>