html {
}

* {
  margin: 0 auto;
}
/*================================================*/
/*Layout Styling*/
/*================================================*/
body {
  height:1000px;
}

.container {
  width: 960px;
  background-color: white;
  height:1000px;
  margin: 0 auto;
  color:gray;
  opacity: 0.85;
}




.footer {
  height: 100px;
  background-image:url('http://img.izismile.com/img/img3/20100423/640/how_100dollar_bill_640_07.jpg') repeat-x;
}


input {
  display:block;
  margin-bottom: 30px;
}

input[type='text'] {
  width: 30%;
}
/*===============================================*/
/*Textual Styling*/
/*===============================================*/
h1 {
  color:gray;
  font-family: 'Libre Baskerville', serif;
  font-size: 48px;
  text-align: center;
  margin-bottom: 30px;
}
