<h1><%=@header%></h1>
<form action = "movies/search" method = "post">
  <input type="text" name="title" id="title">
  <input type="submit" value="Search">
</form>
<a href="/favorites">Your Favorites</a>
