<div class="container grid">

<div class="unit two-fifths" id="courtroom">
  <div id="welcome-home">
    <h1> Welcome </h1>
    <h2> Court is in Session!</h2>
<!--     <img src="scales_of_justice.png"> -->
  </div>
</div>

  <div class="unit one-fifths" id="gavel-home">
    <img id="gavel-img" <img src="scales_of_justice.png">
    <p> ENTER </p>
  </div>

  <div class="unit one-fifths" id="user-testimony">
    <p> "Killing my boss would have been a huge mistake! I'm so glad I got some great advice from the Court of Public Opinion." - Matt</p>
  </div>
</div>

  <%= yield %>

</div>