<div class="container">


<div id="courtroom">
  <div id="welcome-home">
    <h1> Welcome </h1>
    <h2> Court is in Session!</h2>
<!--     <img src="scales_of_justice.png"> -->
  </div>
</div>

  <div id="gavel-home">
    <img id="gavel-img" <img src="scales_of_justice.png">
    <p> ENTER </p>
  </div>

  <div id="user-testimony">
    <p> "Killing my boss would have been a huge mistake! I'm so glad I got some great advice from the Court of Public Opinion." - Matt</p>
  </div>


  <%= yield %>

</div>
</div>