<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel = 'stylesheet' href = '/style.css'>
  <title>Programmers!</title>
</head>
<body>
<h1> PROGRAMMERS </h1>
  <%= yield %>

</body>
</html>
