<div class = "each_programmer">
  <img src = '<%= "#{@image}" %>' />
  <h2><%= "#{@name}" %></h2>
  <h3> Twitter: <a href = "http://twitter.com/<%= "#{@username}" %>" > @<%= "#{@username}" %> </a> </h3>
</div>
