<html>
  <head>
    <title></title>
  <link rel='stylesheet' href='style.css'>
  <link href='http://fonts.googleapis.com/css?family=Lily+Script+One' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class='spacer'></div>
    <h1>Greetings, Mr. GameBoy.</h1>
    <h2>Let's play RPS</h2>
    <%= yield %>
    <p class='copyright'>Copyright Darth Vander Hoop 2013</p>
  </body>
</html>
