<% if current_user %>
<section>
<h2><%= @user.username %>'s List of Watched Titles</h2>
<!--
*This should display the list of all titles the user has watched
*Each title should have an option to leave a review and display all reviews
 -->
</section>
