<img src="<%= @entry.photo %>">
<% author = User.find(@entry.author_id) %>
<br>Are you sure you want to delete this ?
<br><form action="/delete/<%= @entry.id %>" method="post">
  <label for="radio_yes">Yes</label>
  <input type="radio" name="delete" value="yes">
  <label for="radio_no">Nevermind</label>
  <input type="radio" name="delete" value="no">
  <input type="submit" value="submit">
</form>