<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="/style.css">
    <script type="text/javascript" src="/common.js"></script>
  <script type="text/javascript" src="/paintbrush.js"></script>
  <title>WDIstagram</title>
</head>
<body>
  <header>
    <a href="/">home</a>
    <br>
    <a href="/new">create</a>
    <br>
    <a href="/sign_up">sign up</a>
  </header>
  <div id="container">
  <%= yield %>
  </div>
</body>
</html>