<form action="/new" method="post">
  <input type="text" placeholder="author" name="author">
  <br><input type="text" placeholder="image url" name="photo" />
  <br><input type="text" placeholder="date taken year-month-day" name="date_taken">
  <br><input type="submit" value="submit">
</form>