<section id="space">
  <article id="enterprise" class="starship"></article>
</section>
<section id="vulcan" class="planet">
  <p class="vulcan">Sarek</p>
  <p class="vulcan">Skon</p>
  <p class="vulcan">Solkar</p>
  <p class="vulcan">Sybok</p>
</section>