<section id = 'space'>
<article id = 'enterprise', class = 'starship'>STARSHIP ENTERPRISE</article>
<article class = 'starship', id = 'bird-of-prey'>BIRD OF PREY<h3 id="health">20</h3></article>
</section>

<section id = 'vulcanPlanet' class = 'planet'>
<!--  On #vulcan create 4 p tags with the class of vulcan from the following array
var vulcans = [“sarek”, “Skon”, “Solkar”, “Sybok”];  -->
</section>
