<h1>List of senators in alphabetical order</h2>

<div><a href="/senators/new">Add new senator</a></div>

<% @senators_ordered_list.each do |senator| %>
<div><%= senator %></div>
<% end %>

<!-- # need to add links to ech of the pages -->



