<form action="/kittens" method='post'>
  <input type="text" name='name' placeholder='type kitty name'>
  <input type="text" name='is_cute' placeholder='type t or f'>
  <input type="text" name='image_url' placeholder='enter url of kitty pic'>
  <input type="submit" value='SUBMIT'>
</form>
