body {
  background-color: white;
}

#enterprise.starship {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  background-color: blue;
}

#vulcan {
  border: 1px solid black;
  margin: 0 auto;
}
