<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">
    <title>Programmers App</title>
    <link href='http://fonts.googleapis.com/css?family=The+Girl+Next+Door' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
        <h1>Programmers</h1>
    </header>
    <section>
      <%= yield %>

    </section>

  <footer>
  </footer>

  </body>
</html>
