<% info = [] %>
<div class = "main">
<% @post.reverse.each do |e| %>
  <a href = "/photos/<%=e['id']%>" >
  <img src ="<%= e['photo'] %>" /></a>
  <div class = 'author'>Posted by: <%= e['name']%> on <%= e['date_taken'] %> </div>
<% end %>
</div>
