<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel = "stylesheet" href="/style.css">
  <link href='http://fonts.googleapis.com/css?family=Lily+Script+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Allerta' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
  <title>Kick Hashstagram</title>
</head>
<body>
  <header>
  <h1>Kick Hashtagram</h1>
  <nav>
  <a href ="/new"> Add Photo </a>
  <a href ="/"> View Photos </a>
   </nav>
 </header>

  <%= yield %>

</body>
</html>
