<form action = '/new' method = 'post'>
Add new photo!
  <lable>Name</lable>
    <input type = 'text' name = 'name' >
    <lable>Date Taken</lable>
    <input type = 'text' name = 'date' >
    <lable> Image URL</lable>
    <input type = 'text' name = 'photo'>
    <input type = submit value = 'Add Entry'>
</form>
