<form action = '/' method = 'post'>
  <lable for = 'name'>Name</lable><br>
    <input type = 'text' name = 'name' id = 'name'><br>
    <lable for = 'date'>Date Taken</lable><br>
    <input type = 'text' name = 'date' id = 'date'><br>
    <lable for = 'image'> Image URL</lable><br>
    <input type = 'text' name = 'photo' id = 'date'><br>
    <input type = 'submit' value = 'Post Photo'>
</form>
