FROM results.erb


<!-- <ul>
  <% @attributes.each do |attribute| %>
  <li><%= attribute %>: <%= @movie[attribute] %> </li>
  <% end %>
</ul>
 -->
<!-- for google link need to input title and year separated by + if more than 1 word -->

<!-- <a href="www.google.com/#q_____________"> <img src= <%=@poster > </a> -->



