body {
  margin: 0 auto;
  width:960px;
};

header {
  text-align: left;
}

section {
  text-align: center;
  width: 85%;
  height: 100%
}

.photo {
  width: 100%;
  height: 25%;
  border: 2px solid;
};

.author {
border-style:solid;
border-bottom:thick dotted #ff0000;
}
