/*
Project Name: Ecard.ly
Client: General Assembly
Author: Christopher Castig | @castig
Developer @GA in NYC
*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
body {
     background: rgba(213, 213, 213, 1);
}

.header {
     display: inline-block;
     margin: 0 auto;
}

.header_background {
     background-size: contain;
     position: absolute;
}

.header_logo {
     height: 50px;
     width: 50px;
     position: relative;
     margin: 0 auto;
}

.clear {
	clear: both;
}


.logo {
}

.main {
     width: 1000px;
}
.top {
     background-color: white;
     width: 600px;
}

.bottom {
     background-color: white;
     width: 600px;
}

.right {
     background-color: white;
     float: right;
     width: 220px;
     list-style: none;
}

.images_right {
     display: block;
}

.footer {
  display: inline-block;
  margin: 0 auto;
}