<DOCTYPE! html>
<html>
<head>
  <meta charset='utf-8'/>
<!-- REMEMBER TO CHANGE THE TITLE -->
  <title>Programmers DB</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<!-- this yield is crucial, must have =    -->
  <%= yield %>

<!-- you can also use instance variables (@variable) that loads different text on each page but there is always text in that position so you can use a variable in that position on the layout.erb file  -->


</body>
</html>
