<div>
  <a href='/kittens'>View Kittens</a>
  <h3> Add New Kitten </h3>
  <form action='/kittens' method='post'>
    <label> Name </label>
    <input type='text' name='name'><br>
    <label> Age </label>
    <input type='text' name='age'><br><br>
    <label for='cute'> Cute? </label>
    <input type='checkbox' name='is_cute' value='true' id='cute'><br><br>
    <label for='owners'> Owner </label>
      <select name='owner_id' id='owners'>
        <% @owners.each do |owner| %>
          <option value='<%=owner['id']%>'>
            <%= owner['name'] %>
          </option>
        <% end %>
      </select><br><br>
    <label> Image URL </label>
    <input type='text' name='image_url'>
    <input type='submit' value='submit'>
  </form>
</div>
