v<!DOCTYPE html>
<html>
<head>
  <title>ProgrammingApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='header'></div>
  <div class="container">
    <%= yield %>
  </div>
  <div class="footer"></div>
</body>
</html>
